{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class = "container" style="background-color: #616161; color: #FFFFFF; padding: 10px;">
    <div class = "text-left">
        <h2 class = "section=heading text-uppercase">Reviewer:</h2>
        <a href="{% url 'allReviewers' %}"> Back</a>
    </div>
    <br>
    <form name="form" method="post" action="{% url 'updateCust' %}">
        {% csrf_token %}
        <input type = "hidden" id="id" name="id" value="{{record.id}}">

        <label for='first_name'>First name:</label>
        <input type="text" name="first_name" id="first_name" value="{{record.first_name}}" autofocus required>
        <br><br>

        <label for= 'last_name'>Last name:</label>
        <input type="text" name="last_name" id="last_name" value="{{record.last_name}}" required>
        <br><br>


        <button class = 'btn btn-success btn-block' type="submit">Update</button>
    </form>

{% endblock %}