{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<!--This will eventually be a table that displays the data from our review database-->
<h1>My Restaurants:</h1>
<br>
<a href="{% url 'createRestaurantView' %}">Add Restaurant</a>
<br>
<br>
{% for restaurant in rest %}
<h3>  {{restaurant.restaurant_name}} </h3>
<a href="{% url 'restaurantDetails' restID=restaurant.id %}">View Restaurant Details</a>
<br>
<a href="{% url 'create' %}">Add Review</a>
{% for review in review %}
{% if review.restaurant.id == restaurant.id %}
<p>Rating: {{review.rating}}</p>
<p>Notes: {{review.notes}}</p>
<a href="{% url 'delete' reviewID=review.id %}">Delete Review</a> <br>  
<a href="{% url 'update' reviewID=review.id %}">Update Review</a>
{% endif %}
{% endfor %}
{% endfor %}

{% endblock %}
