{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<form method="POST">
  {% csrf_token %}
  {{ form|crispy }}
  <input class = 'btn btn-success btn-block' type='submit' value = 'Add'>
</form>
<!--This will eventually be a table that displays the data from our review database-->
<h1>My Restaurants:</h1>
<br>
{% for restaurant in rest %}
<h3>  {{restaurant.restaurant_name}} </h3>
{% for review in review %}
{% if review.restaurant.id == restaurant.id %}
<p>Rating: {{review.rating}}</p>
<p>Notes: {{review.notes}}</p>
{% endif %}
{% endfor %}
{% endfor %}

{% endblock %}
