{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class = "container" style="background-color: #616161; color: #FFFFFF; padding: 10px;">
    <div class = "text-left">
        <h2 class = "section=heading text-uppercase">Review:</h2>
    </div>
    <br>
    <form name="form" method="post" action="{% url 'update' reviewID=record.id%}">
        {% csrf_token %}
        <input type = "hidden" id="id" name="id" value="{{record.id}}">
        
        <label for= 'rating'>Rating:</label><br>
        <input type="number" name="rating" id="rating" value="{{record.rating}}" required>
        <br><br>

        <label for= 'notes'>Notes:</label><br>
        <textarea rows="6" cols="30" name="notes" id="notes" required>{{record.notes}}</textarea>
        <br><br>


        <button type="submit">Update</button>
    </form>

{% endblock %}